<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 align='center'><%= title %></h1>
    <!--<img align='center' src="/images/hkgateway.jpg" width="30%" height="30%">-->
    <p align='center'>Welcome HKGateWay Product</p>
  </body>
</html>
